.main-home {
    padding: 20px 30px 0 30px;
}

.home-sub-text {
    padding: 20px 0;
    font-size: 1.2rem;
    color: grey;
}

.main-home input {
    padding: 4px;
    min-width: 20vw;
}

.main-home button {
    cursor: pointer;
    padding: 4px;
    margin: 0 4px;
    font-weight: 600;
    outline: none;
    border: 2px solid lightgrey;
    border-radius: 4px;
    background: white;
}

.main-home .delete-btn {
    color: red
}

.main-home .sort-sec {
    display: inline;

}

.sort-sec label {
    font-weight: 600;
    font-size: 1rem;
    margin: 0 10px;
}

.sort-sec select {
    padding: 4px 0;
}

.sort-sec select option {
    font-size: 1rem;
    color: red;
    background-color: green;
}
